
.outer-elem {
  position: relative;
  padding: 1.5rem .5rem;
  border: 1px dashed #ccc;
}
.inner-elem {
  position: absolute;
  display: inline-block;
  width: 100px;
  padding: .5rem;
  border: 1px dotted #fc3;
  background: rgba(0, 0, 0, .05);
}
.inner-elem-1 {
  bottom: -1rem;
}
.inner-elem-2 {
  right: -1rem;
}